.container-hu {
    min-height: calc(100vh - 50px - 251px + 1.5rem);
    width: 95% !important;
    margin: auto;
}

.footer {
    width: 100%;
    background-color: #2a6275;
    margin-top: 3.5rem;
    padding: 1rem;
    color: white;
}

.footer-grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
}

.mail {
    padding-right: 0.5rem;
    color: white;
}

.item-conteiner {
    padding: 0;
}

.item {
    list-style: none;
}

.item > a {
    color: white;
    text-decoration: none;
}

.item > a:hover {
    color: greenyellow;
    text-decoration: greenyellow underline;
}

@media (max-width: 700px) {
    .footer-grid {
        text-align: center;
        display: block;
    }
}