{% extends 'home.html' %}
{% load static %}

{% block title %}Configuración - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dainattor/panel-contenido.css' %}" />
{% endblock css %}

{% block content %}
<div class="titulo">Configuraciones</div>
<div class="row">
    <div class="card col-sm-6">
        <div>
            <div class="border-bottom mt-3">
                <h6>Entrenamiento facial</h6>
            </div>
            <div class="row">
                <div class="col-5 form-check form-switch m-3">
                    <input class="form-check-input cursor-pointer" type="checkbox" role="switch" id="switchEntrenamiento"
                        name="switchVideo" />
                    <label class="form-check-label cursor-pointer" for="switchEntrenamiento">Iniciar Entrenamiento</label>
                </div>
                <div class="col-5 m-3" id="estado-entrenamiento">Fotos capturadas: </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="border-bottom">
                <h6>Monitoreo de expresiones faciales</h6>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <select id="tiempo-monitoreo" class="form-control custom-select text-center cursor-pointer">
                        <option value="15" selected>15 segundos</option>
                        <option value="30">30 segundos</option>
                        <option value="45">45 segundos</option>
                        <option value="59">59 segundos</option>
                    </select>
                </div>
                <div class="col-4 form-check form-switch">
                    <input class="form-check-input m-6 cursor-pointer" type="checkbox" role="switch" id="switchMonitoreo"
                        name="switchMonitoreo" />
                    <label class="form-check-label cursor-pointer" for="switchMonitoreo">Iniciar Monitoreo</label>
                </div>
                <div class="reloj col-5" id="tiempo">Reloj: 00:00:00</div>
            </div>
            <div class="row mt-2">
                <div class="m-3" id="estado-monitoreo">Estado del monitoreo: </div>
            </div>
        </div>
    </div>
    <div class="card col-sm-6">
        <h6>Video de la cámara web</h6>
        <div style="white-space: nowrap; overflow-x: auto;" class="video-wrap border border-dark">
            <video id="video" width="640" height="480" playsinline autoplay></video>
        </div>
        <canvas id="canvas" width="640" height="480" hidden></canvas>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static '/js/dainattor/configuracion.js'%}"></script>
{% endblock %}