{% extends 'home.html' %}
{% load static %}

{% block title %}Reportes - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dainattor/panel-contenido.css' %}" />
{% endblock css %}

{% block content %}
<div class="titulo">Reporte</div>
<div class="row">
    <div class="col-sm-7 card">
        <canvas id="grafica-expresiones"></canvas>
    </div>
    <div class="mx-1 col-sm-4 card">
        <div class="p-3 row">
            <div class="row">
                <h6>Predicción</h6>
            </div>
            <div id="prediccion" class="row">

            </div>
        </div>
        <div class="p-3 row">
            <div class="row">
                <h6>Actividades recomendadas</h6>
            </div>
            <div class="mx-3 row">
                <ul id="lista_actividades">
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'js/chart/chart.js'%}"></script>
<script src="{% static '/js/dainattor/reporte.js'%}"></script>
{% endblock %}