{% extends 'home.html' %}
{% load static%}
{% block title %}Reportes | {% endblock title %}
{% block subcontenedor %}
<h4>Reporte</h4>
<div class="row mt-4">
    <div class="col-sm-7 card">
        <canvas id="grafica-expresiones"></canvas>
    </div>
    <div class="mx-1 col-sm-4 card">
        <div class="p-3 row">
            <div class="row">
                <h6>Predicción</h6>
            </div>
            <div id="prediccion" class="row">
                
            </div>
        </div>
        <div class="p-3 row">
            <div class="row">
                <h6>Actividades recomendadas</h6>
            </div>
            <div class="mx-3 row">
                <ul>
                    <li>actividad fdf fidnf fdifdif fdijfdijf fdijfd fdijfdi fdijdijf </li>
                    <li>actividad fdf fidnf fdifdif fdijfdijf fdijfd fdijfdi fdijdijf</li>
                    <li>actividad fdf fidnf fdifdif fdijfdijf fdijfd fdijfdi fdijdijf</li>
                    <li>actividad fdf fidnf fdifdif fdijfdijf fdijfd fdijfdi fdijdijf</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script src="{% static '/chart/chart.js'%}"></script>
<script src="{% static '/dainattor/js/recomendaciones.js'%}"></script>
{% endblock %} 