{% extends 'home.html' %}
{% load static %}

{% block title %}Reportes - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dainattor/panel-contenido.css' %}" />
{% endblock css %}

{% block content %}
<div class="titulo">Reporte</div>
<div class="row">
    <div class="col-sm-7 card border-sombra left-2 mx-2 mr-3">
        <canvas class="mt-5" id="grafica-expresiones"></canvas>
    </div>
    <div class="mx-1 col-sm-4 card border-sombra left-2 mx-2 mr-3">
        <div class="p-5 row">
            <div class="row">
                <h6><i class="fas fa-poll"></i> Predicción</h6>
            </div>
            <div class="mx-1 row">
                <div id="prediccion">
                </div>
            </div>
        </div>
        <div class="p-5 row">
            <div class="row">
                <h6><i class="fas fa-running"></i> Actividades recomendadas</h6>
            </div>
            <div class="mx-1 row">
                <ul id="lista_actividades">
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="spinner">
    {% include 'components/spinner.html' %}
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'js/chart/chart.js'%}"></script>
<script src="{% static '/js/dainattor/reporte.js'%}"></script>
{% endblock %}