{% load static %}
<!DOCTYPE html>
<html lang="es-EC">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap_4.6.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/fontawesome-5.15.2/css/all.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base/header.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base/spinner.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/dainattor/footer.css' %}">
    <link rel="icon" href="{% static 'img/doctorIcono.jpg' %}" type="image/png" />

    <title>{% block title %}{% endblock title %}Software Dainattor</title>

    {% block css %}{% endblock css %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark pt-0 pb-0">
            <div class="navbar-toggler navbar-tablet" style="height: 50px;">
                <h4 class="mb-0 nombre-pagina-tablet">Software Dainattor</h4>
                <img src="{% static 'img/doctorIcono.jpg' %}" height="52px" alt="Logo">
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-brand d-flex align-items-center justify-content-center">
                    <img src="{% static 'img/doctorIcono.jpg' %}" height="52px" alt="Logo">
                    <h4 class="ml-2 mb-0 nombre-pagina">Software Dainattor</h4>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-hu">
        <div id="spinner">
            {% include 'components/spinner.html' %}
        </div>
        {% block content %} 
        {% endblock content %}
    </main>

    {% block content2 %} {% endblock content2 %}
    <script src="{% static 'js/jquery/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sweetalert/sweetalert_2_v10.js' %}"></script>
    <script src="{% static 'js/dainattor/global.js'%}"></script>

    {% block js %} {% endblock js %}
</body>

</html>