{% extends 'index.html' %}
{% load static%}
{% block title %}{% endblock title %}
{% block css %}
<style>
    #nav-lateral{
        border-right: 1px solid rgb(128, 128, 128);
    }
    .cont{
        padding: 20px;
    }
    .opc-nav{
        text-decoration: none;
        display: block;
        color: rgb(134, 134, 134);
        border: 1px solid rgb(124, 124, 124);
        padding: 10px;
        margin: 10px;
        border-radius: 24px;
    }
    .opc-nav:hover{
        background-color: #3E4F87;
        color: white;
    }
    .activate-menu{
        background-color: #3E4F87;
        color: white;
    }
    html,body{
        height: 100%;
    }
    #contenedor{
        height: 90%;
        margin: 0;
    }
</style>
{% endblock %}
{% block contenedor %}
<div class="row g-3" id="contenedor">
    <div class="col-md-2 cont" id="nav-lateral">
        <img src="{{ request.session.fotoPerfil }}" class="img-thumbnail mx-auto d-block" title="Foto de perfil" alt="Foto de perfil" style="border-radius: 50%; height: 100px; width: 100px;">
        <p class="text-center">{{ request.session.nombres }}</p>
        <a href="{% url 'configuracion' %}" class="opc-nav text-center {{ configuracion }}"><i class="fa fa-cog"> </i> Configuración</a>
        <a href="{% url 'historial' %}" class="opc-nav text-center {{ opc_historial }}"><i class="fas fa-book-open"> </i> Historial</a>
        <a href="{% url 'reporte' %}" class="opc-nav text-center {{ reporte }}"><i class="fas fa-list-ol"> </i> Reporte</a>
        <a href="{% url 'perfil' %}" class="opc-nav text-center {{ perfil }}"><i class="fas fa-user"> </i> Perfil</a>
        <a href="{% url 'logout' %}" class="opc-nav text-center"><i class="fas fa-window-close"> </i> Cerrar sesión</a>
    </div>
    <div class="col-md-10 cont"> 
        {% block subcontenedor %}
            <img src=" {% static 'img/doctor.jpg' %} " alt="" width="500px" class="mx-auto d-block">
            {% endblock %}
    </div>
</div>
{% endblock %}