{% extends "components/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dainattor/ini_reg.css' %}" type="text/css">
{% endblock css %}

{% block content %}
<main>
    <div class="log-container mt-5" style="margin-bottom: 2.9em;">
        <div class="log-img">
            <p>Dainattor es un software que brinda predicciones de un posible trastorno emocional mediante el análisis de las expresiones faciales.</p>
            <img src="{% static 'img/doctor.jpg' %}" alt="" class="img-portada">
        </div>
        <div class="log mx-5">
            <h3>!Hola! bienvenido a Dainattor</h3>
            <form method="POST" id="formLogin" class="log-form">
                {% csrf_token %}
                <label for="validacion_usuario" class="log-f-label">Usuario</label>
                <input type="text" id="validacion_usuario" name="txtUsuario" autocomplete="off" class="log-f-input">
                <label for=" validacion_credenciales" class="log-f-label">Contraseña</label>
                <input type="password" id="validacion_credenciales" name="txtClave" class="log-f-input">
                <button id="iniciarSesion" class="log-f-enviar btn btn-login" type="submit"><i class="fas fa-sign-out-alt"></i> Iniciar</button>
            </form>
            <div class="log-links">
                <div class="mt-2">
                    Si no tienes un cuenta de inicio de sesión
                    <a href="{% url 'registro' %}">
                        registrate aquí.
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

{% block content2 %} 
{% include 'components/footer.html' %}
{% endblock content2 %}

{% block js %}
<script src="{% static '/js/dainattor/persona.js'%}"></script>
{% endblock js %}