{% extends "components/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dainattor/ini_reg.css' %}" type="text/css">
{% endblock css %}


{% block content %}
<main>
    <div class="log-container">
        <div class="log-img">
            <img src="{% static 'img/doctor.jpg' %}" alt="" class="img-portada">
        </div>
        <div class="log">
            <h3>Crear cuenta de usuario</h3>
            <form method="POST" class="log-form row" id="formRegistroUsuario" name="formRegistroUsuario">
                {% csrf_token %}
                <div class="col-sm">
                    <div class="mb-3">
                        <label for="txtNombres" class="log-f-label">Nombres y apellidos</label>
                        <input type="text" form="formRegistroUsuario" class="log-f-input" id="txtNombres"
                            name="txtNombres" placeholder="nombres" maxlength="70" required />
                    </div>
                    <div class="mb-3">
                        <label for="txtCedula" class="log-f-label">Cédula</label>
                        <input type="text" form="formRegistroUsuario" class="log-f-input" id="txtCedula"
                            name="txtCedula" placeholder="cédula" maxlength="10" required />
                    </div>
                    <div class="mb-3">
                        <label for="dtmFechaNaci" class="log-f-label">Fecha de nacimiento</label>
                        <input type="date" form="formRegistroUsuario" class="log-f-input" id="dtmFechaNaci"
                            name="dtmFechaNaci" required />
                    </div>
                </div>
                <div class="col-sm mx-2">
                    <div class="mb-3">
                        <label for="txtUsuario" class="log-f-label">Usuario</label>
                        <input type="text" form="formRegistroUsuario" class="log-f-input" id="txtUsuario"
                            name="txtUsuario" placeholder="usuario" maxlength="20" required />
                    </div>
                    <div class="mb-3">
                        <label for="txtClave" class="log-f-label">Contraseña</label>
                        <input type="password" form="formRegistroUsuario" class="log-f-input" id="txtClave"
                            name="txtClave" placeholder="***********" required />
                    </div>
                    <div class="mb-3">
                        <label for="txtClave2" class="log-f-label">Repita la contraseña</label>
                        <input type="password" form="formRegistroUsuario" class="log-f-input" id="txtClave2"
                            name="txtClave2" placeholder="***********" required />
                    </div>
                </div>

                <button id="btnCrearCuenta" class="log-f-enviar btn btn-success" type="submit"
                    form="formRegistroUsuario"><i class="fas fa-save"></i> Crear cuenta</button>
                <div class="log-links">
                    <div class="mt-1">
                        Si ya tienes una cuenta
                        <a href="/">
                            inicia sesión aquí.
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
{% block js %}
<script src="{% static '/js/dainattor/persona.js'%}"></script>
{% endblock js %}